<div class="child">
    <div class="name">
        <p><%= link_to child.name, child_path(child) %></p>
        <br>
        <p><%= child.category %></p>
    </div>
    
    <%= form_with model: child do |child_form| %>
        <%= child_form.fields_for :registrations, child.registrations.where(event_day_id: event_days) do |registration_field| %>
            <%= render "event_days/registrations/registration_field", form: registration_field %>
        <% end %>
        <div class="registration_field">
            <%= child_form.submit "Update registrations" %>
        </div>
    <% end %>
    <br>    
</div>