<%= form_with model: @user do |form| %>
    <div class="user_fields">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div class="user_fields">
        <%= form.label :phone %>
        <%= form.text_field :phone %>
    </div>
    <div class="user_fields">
        <%= form.label :email %>
        <%= form.text_field :email %>
    </div>
    <%= form.submit %>
<% end %>