<div>
    <%= form.hidden_field :child_id %>
    <%= form.hidden_field :event_day_id %> 
    
    <div class="registration_field">
        <%= form.label :attend_morning %>
        <%= form.check_box :attend_morning %>
    </div>

    <div class="registration_field">
        <%= form.label :attend_afternoon %>
        <%= form.check_box :attend_afternoon %>
    </div>
</div>