<div class="event_day_field">
    <%= f.label :date %>
    <%= f.date_field :date %>    
</div>

<div class="event_day_field">
    <%= f.label :fee %>
    <%= f.number_field :fee %>    
</div>

<div class="event_day_field">
    <%= f.label :morning_description %>
    <%= f.text_area :morning_description %>    
</div>

<div class="event_day_field">
    <%= f.label :afternoon_description %>
    <%= f.text_area :afternoon_description %>    
</div>