<%= form_with model: school do |form| %>
    
    <h2>Register school details</h2>

    <div class="form_field">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div class="form_field">
        <%= form.label :address %>
        <%= form.text_field :address %>
    </div>

    <div class="form_field">
        <%= form.label :phone %>
        <%= form.text_field :phone %>
    </div>

    <h2>Register School Manager</h2>

    <% school.users.each do |user| %>
        <% if user.role == "school_manager" %>
            <%= form.fields_for :users, user do |sm_form| %>

                <%= sm_form.hidden_field :school_id, value: school.id %>

                <div class="form_field">
                    <%= sm_form.label :role %>
                    <%= sm_form.text_field :role, value: "school_manager", readonly: true %>
                </div>

                <div class="form_field">
                    <%= sm_form.label :name %>
                    <%= sm_form.text_field :name %>
                </div>

                <div class="form_field">
                    <%= sm_form.label :phone %>
                    <%= sm_form.text_field :phone %>
                </div>

                <div class="form_field">
                    <%= sm_form.label :email %>
                    <%= sm_form.text_field :email %>
                </div>

                <div class="form_field">
                    <%= sm_form.label :password, "Temp Password" %>
                    <%= sm_form.text_field :password %>
                </div>

                <div class="form_field">
                    <%= sm_form.label :password_confirmation, "Confirm Temp Password" %>
                    <%= sm_form.text_field :password_confirmation %>
                </div>
            <% end %>
        <% end %>
    <% end %>

    <%= form.submit %>
<% end %>